/* 
  This function aligns hamburger icon to 
  left when view in mobile version 
*/
@media only screen and (max-width: 700px) {
  .navbar {
    text-align: left;
  }

  .navbar ul {
    flex-direction: column;
  }
};